:root {
    --main-color: #155263;
    --orange-color: #ff6f3c;
    --light-orange-color: #ff9a3c;
    --yellow-color: #ffc93c;
}

* {
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

body {
    font-family:'Courier New', Courier, monospace;
}

header {
    display: flex;
    gap: 8vw;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    padding: 12px;
}

#content {
    margin: 32px;
    display: grid;
    grid-template-columns: 50vw;
    gap: 32px;
    justify-content: center;
}

.project {
    background-color: var(--light-orange-color);
    border-radius: 12px;
    padding: 12px;
}

.low h3 {
    color: green;
}

.medium h3 {
    color: yellow;
}

.high h3 {
    color: red;
}

img.plus {
    width: 32px;
    height: 32px;
    border: 2px solid black;
    border-radius: 100%;
}

img.plus:hover {
    box-shadow: 2px 2px 6px black;
}