:root {
  --main-color: #155263;
  --orange-color: #ff6f3c;
  --light-orange-color: #ff9a3c;
  --yellow-color: #ffc93c;
}

* {
  margin: 0;
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Courier New", Courier, monospace;
}

header {
  display: flex;
  gap: 8vw;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  padding: 12px;
}

.add-project {
  border-radius: 12px;
  border: none;
  padding: 6px 10px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

#content {
  margin: 32px;
  display: grid;
  grid-template-columns: 50vw;
  gap: 32px;
  justify-content: center;
}

.project {
  background-color: var(--light-orange-color);
  border-radius: 12px;
  padding: 24px;
}

.project > div {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  cursor: pointer;
}

.project > div > * {
  display: inline;
}

.project > div > h3 + p {
  grid-column: 2 / 4;
}

.low h3 {
  color: green;
}

.medium h3 {
  color: yellow;
}

.high h3 {
  color: red;
}

img.plus, img.check, img.close {
  width: 32px;
  height: 32px;
  border: 2px solid black;
  border-radius: 100%;
  cursor: pointer;
}

img.plus:hover,
.modal-content input:hover,
.add-project:hover {
  box-shadow: 2px 2px 6px black;
}

/*Modal*/
.modal {
  position: fixed;
  z-index: 10;
  padding-top: 20vh;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: var(--main-color);
  margin: auto;
  padding: 32px;
  border-radius: 20px;
  width: 40vw;
  box-shadow: 6px 6px 10px black;
}

.modal-content form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modal-content form div input,
.modal-content form div select,
.modal-content input[type="submit"] {
  border-radius: 12px;
  border: none;
  padding: 4px;
  margin-left: 4px;
}

.modal-content input[type="submit"] {
  width: 20%;
  padding: 8px;
  margin: auto;
}

.modal-content form div input:focus,
.modal-content form div select:focus {
  outline: none;
  border: var(--light-orange-color) 2px solid;
}
